# Ignora file temporanei di Word
~$*.docx
~*.tmp

# Ignora anche i file di backup di Word (opzionale)
*.tmp
*.bak
*.lock

# Ignora cartelle di sistema (opzionale)
.DS_Store
Thumbs.db

#Ignora secrets.txt
secrets.txt

# Ignora i file di dati locali (calendari generati)
Progetto Calendar/Studenti/data/
Progetto Calendar/Docenti/data/
Progetto Calendar/Data

# In caso ci siano file XLSX in qualunque sottocartella data
**/data/*.xlsx